html,
body {
  background-color: #202020;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
  font-weight: 200;
  margin-top: 0;
}
h2 {
  font-size: 3.6rem;
  font-weight: 200;
  margin-top: 0;
}
h3 {
  font-size: 3rem;
  font-weight: 200;
  margin-top: 0;
}
h4 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 0;
}
h5 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}
h6 {
  font-size: 1.8rem;
  font-weight: 200;
  margin-top: 0;
  text-transform: uppercase;
}

p,
ul,
ol {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 2rem;
  margin-top: 0;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

.primary {
  align-items: flex-start;
  display: flex;
  flex: 1;
  margin-bottom: 0;
  padding-top: 10rem;
  padding-left: 100px;
}

.primary .content {
  padding: 10%;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.4rem;
  }

  main {
    display: block;
  }

  .primary {
    padding-top: 175px;
    padding-left: 0;
  }

  .primary .content {
    padding: 5% 10%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 3.4rem;
  }
}