html,
body {
  background-color: #202020;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  margin-top: 0;
}

p {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  line-height: 2rem;
  margin-top: 0;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}
  @media (max-width: 767px) {
    main {
      display: block;
    }
  }

.primary {
  align-items: center;
  display: flex;
  flex: 1;
  padding-left: 150px;
}
  @media (max-width: 767px) {
    .primary {
      padding-top: 200px;
      padding-left: 0;
    }
  }

.primary .content {
  padding: 0 10%;
}