@import './imports.less';

html,
body {
  // .bgc(@bg_dark);
  .bgc(@white);
  color: @bg_dark;
  .ff('Inconsolata', monospace);
  .fs(62.5%);
  .mar();
  .pad();
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  .ff('Titillium Web',sans-serif);
}
h1 {
  // background: linear-gradient(to bottom, #00b09b 20%,#96c93d 80%);
  // .bgclip(t);
  .fs(7rem);
  .fw(900);
  .ls(-0.1rem);
  .m(t,0);
  .m(b,3rem);
  .tt(u);


  background: linear-gradient(to bottom, @teal 0%, @neon_green 50%, @teal 100%);
  background-size: auto 200%;
  
  color: @bg_dark;
  // text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 10s linear infinite;
  @keyframes shine {
    to {
      background-position: center 200%;
    }
  }



  @media (max-width: 1200px) {
    .fs(6rem);
  }
  @media (max-width: 991px) {
    .fs(5rem);
  }
  @media (max-width: 767px) {
    .fs(4rem);
  }
  @media (max-width: 500px) {
    .fs(3.4rem);
  }
}
h2 {
  .fs(3.6rem);
  .fw(200);
  .m(t,0);

  @media (max-width: 767px) {
    .fs(3rem);
  }
}
h3 {
  .fs(3rem);
  .fw(200);
  .m(t,0);

  @media (max-width: 767px) {
    .fs(2.4rem);
  }
}
h4 {
  .fs(2.4rem);
  .fw(400);
  .m(t,0);

  @media (max-width: 767px) {
    .fs(2.2rem);
  }
}
h5 {
  .fs(2rem);
  .fw(400);
  .m(t,0);

  @media (max-width: 767px) {
    .fs(1.8rem);
  }
}
h6 {
  .fs(1.8rem);
  .fw(200);
  .m(t,0);
  .tt(u);

  @media (max-width: 767px) {
    .fs(1.4rem);
  }
}

p,
ul,
ol {
  .fs(1.2rem);
  .lh(2rem);
  .ls(.1rem);
  .m(t,0);
}
a {
  .td(none,initial,solid);
}