.level {
  background-color: rgba(255,255,255,0.1);
  display: inline-block;
  margin: 0;
  padding: 15px 10px;
}
.level1 {
  margin-top: -4px;
  margin-left: 50px;
  transform: rotate(-1deg);
}
.level2 {
  margin-top: 7px;
  margin-left: 25px;
  transform: rotate(1deg);
}
p:last-of-type {
  margin-bottom: 0;
}