@import '../styles/imports.less';

.pageTitle {
  .ai(s);
  .dis(f);
  .flexd(c);
  .fs(8vw);
  .lh(6vw);
  .h();
  .jc(fs);
  .m(t,10rem);
  .m(b,0);

    @media (max-width: 767px) {
      .dis(b);
      .fs(10vw);
      .lh(8vw);
      .m(t,4rem);
    }
}

h3 {
  .dis(inb);
  .mar(0,0,0,3rem);
  .pad(1.5rem,1rem,1.5rem,1rem);
  transform: rotate(-1deg);
}
h3.company {
  .m(b,1rem);
  .m(l,0);
  transform: rotate(0deg);
}

h6 {
  .m(b,5rem);
  .m(l,2rem);
}

ul {
  .m(l,3rem);
  .p(l,20px);
}

section {
  .m(b,9rem);

  &.aboutSection {
    .maxW(50%);

    @media (max-width: 767px) {
      .maxW(75%);
    }
  }
  
  h2 {
    color: #202020;
    transform: rotate(-1deg);
  }

  .sub {
    .m(t,1rem);
    .m(b,7rem);
    .m(l,2rem);

    .position {
      .m(b,0.5rem);
      .tt(u);
    }

    .empDates,
    .keySpecs h6 {
      .m(b,2rem);
      transform: rotate(-1.5deg);
    }
  }

  .skillsBlock {
    .dis(f);
    .flexw(w);
    .jc(fs);
    
    .area {
      .m(b,3rem);
      .minW(200px);
      .p(r,1rem);
      .p(l,1rem);
      .w(14%);

        @media (max-width: 500px) {
          .p(r,0);
          .p(l,0);
          .w(100%);
        }
      
      h5 {
        .mar(0,0,2rem,0);
      }
  
      ul {
        .mar();
      }
    }
  }
}