@import '../styles/imports.less';

h1 {
  .m(b,0);
}

h3 {
  .bgc(rgba(255,255,255,0.1));
  display: inline-block;
  .mar(0,0,0,3rem);
  .pad(1.5rem,1rem,1.5rem,1rem);
  transform: rotate(-1deg);
}
h3.company {
  .m(b,1rem);
  .m(l,0);
  transform: rotate(0deg);
}

h6 {
  .bgc(rgba(255,255,255,0.1));
  .m(b,5rem);
  .m(l,2rem);
}

ul {
  .m(l,3rem);
}

section {
  .m(b,9rem);

  &.aboutSection {
    max-width: 50%;

    @media (max-width: 767px) {
      max-width: 75%;
    }
  }

  h2 {
    .bgc(rgba(255,255,255,0.8));
    color: #202020;
    transform: rotate(-1deg);
  }

  .sub {
    .m(t,1rem);
    .m(b,7rem);
    .m(l,2rem);

    .position {
      .m(b,0.5rem);
      .tt(u);
    }

    .empDates,
    .keySpecs h6 {
      .m(b,2rem);
      transform: rotate(-1.5deg);
    }
  }
}