@import '../../styles/imports.less';

.header,
.navigation {
  .bgc(@bg_dark);
  .bdc(rgba(255,255,255,0.075));
  .bds(dsh);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header {
  align-items: center;
  .bdw(0 5px 0 0);
  bottom: 0;
  left: 0;
  width: 100px;

  @media (max-width: 767px) {
    .bdw(0 0 1px 0);
    justify-content: center;
    right: 0;
    bottom: auto;
    padding: 1rem 0;
    width: 100%;
  }

  .logo {
    display: flex;
    height: auto;
    .marAuto();
    max-width: 200px;
    width: 85%;

    @media (max-width: 767px) {
      max-width: 75px;
    }
  }

  .navigation {
    .bdw(0 0 5px 0);
    justify-content: flex-end;
    .ls(.1rem);
    .pad(3rem,1rem,3rem,1rem);
    right: 0;
    left: 101px;

    @media (max-width: 767px) {
      justify-content: center;
      .pad(1rem,0,1rem,0);
      top: 85px;
      left: 0;
    }

    ul {
      display: flex;
      list-style: none;
      .mar();
      .pad();

      li {
        .m(l,1.5rem);

        a {
          .bgc(rgba(255,255,255,0.1));
          color: #fff;
          display: block;
          .fs(1.2rem);
          .pad(1rem,.5rem,1rem,.5rem);
        }
      }
    }
  }
}