.header {
  align-items: center;
  background-color: #202020;
  border-right: 1px dashed rgba(255,255,255,0.075);
  display: flex;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
}

.logo {
  display: block;
  height: auto;
  max-width: 200px;
  width: 100%;
}

.navigation {
  border-bottom: 1px dashed rgba(255,255,255,0.075);
  display: flex;
  justify-content: flex-end;
  letter-spacing: .1rem;
  padding: 3rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 151px;
}
.navigation ul {
  list-style: none;
  display: flex;
}
.navigation ul li {
  margin-left: 12px;
}
.navigation a {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  padding: 15px 0;
}

@media (max-width: 767px) {
  .header {
    border-right: 0;
    border-bottom: 1px dashed rgba(255,255,255,0.075);
    justify-content: center;
    right: 0;
    bottom: auto;
    width: 100%;
  }

  .logo {
    max-width: 100px;
  }
}