.header {
  align-items: center;
  background-color: #202020;
  border-right: 1px dashed rgba(255,255,255,0.075);
  display: flex;
  padding: 15px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 150px;
}

.logo {
  display: block;
  height: auto;
  max-width: 200px;
  width: 100%;
}

@media (max-width: 767px) {
  .header {
    border-right: 0;
    border-bottom: 1px dashed rgba(255,255,255,0.075);
    justify-content: center;
    right: 0;
    bottom: auto;
    width: 100%;
  }

  .logo {
    max-width: 100px;
  }
}