.header,
.navigation {
  background-color: #202020;
  border-color: rgba(255,255,255,0.075);
  border-style: dashed;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header {
  align-items: center;
  border-width: 0 1px 0 0;;
  /* padding: 15px; */
  bottom: 0;
  left: 0;
  width: 100px;
}

.logo {
  display: flex;
  height: auto;
  margin: auto;
  max-width: 200px;
  width: 85%;
}

.navigation {
  border-width: 0 0 1px 0;
  justify-content: flex-end;
  letter-spacing: .1rem;
  padding: 3rem 1rem;
  right: 0;
  left: 101px;
}
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  margin-left: 1.5rem;
}
.navigation a {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
  display: block;
  font-size: 1.2rem;
  padding: 1rem .5rem;
}

@media (max-width: 767px) {
  .header {
    border-right: 0;
    border-bottom: 1px dashed rgba(255,255,255,0.075);
    justify-content: center;
    right: 0;
    bottom: auto;
    padding: 1rem 0;
    width: 100%;
  }

  .logo {
    max-width: 75px;
  }

  .navigation {
    justify-content: center;
    padding: 1rem 0;
    top: 96px;
    left: 0;
  }
}